.main-button, .btn {
    border: 0;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 10px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #074d7b;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.main-button:hover, .btn:hover {
    background-color: cornflowerblue;
    color: whitesmoke;
}

@media (max-width: 600px) {
    .btn {
        padding: 12px 10px;
        font-size: 0.8rem;
    }
}

@media (max-width: 380px) {
    .btn {
        padding: 12px 9px;
        font-size: 0.7rem;
    }
}
