header {
    background-color: #074d7b;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin-top: 8px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: default;
}
button {
    cursor: pointer;
}

i {
    color: whitesmoke;
}

.main-button {
    border: 0;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #074d7b;
    font-weight: bold;
}

.main-button:hover {
    background-color: cornflowerblue;
    color: whitesmoke;
}

.search-button {
    margin-top: 2px;
    margin-left: 5px;
    padding: 10px 11px;
    border-radius: 50%;
    background-color: cornflowerblue;
    border: none;
}

.search-button:hover {
    background-color: #074d7b;
}

.search input {
    padding: 4px;
    border: 0;
    border-radius: 3px;
}

.map {
    background-color: gray;
    height: calc(100vh - 60px);
}
